<h3>History</h3>
<p>In this area, the historical sensor values over time are displayed. The data of the last 7 days are evaluated.</p>

<h4>Fill Level</h4>
<p>The fill level data are displayed on an hourly basis, only the last hours are displayed on a minutely basis. To
  aggregate the data, the mean value is calculated over the interval.</p>

<div>
  <canvas id="levelCanvas"></canvas>
</div>

<p>&nbsp;</p>

<h4>Coffee Consumption</h4>
<p>Coffee consumption is calculated on a daily basis and displayed as a bar chart. The number indicates the number of
  coffee pots used.</p>

<div>
  <canvas id="consumptionCanvas"></canvas>
</div>
