<h3>Config</h3>
<p>On this page you can set the parameters of the application. To determine the filling level, the weights (max. weight,
  empty weight) must be known.</p>

<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="maxWeight">Max. Weight</label>
    <input id="maxWeight" class="form-control" type="number" step="any"
           [(ngModel)]="config.maxWeight" name="maxWeight"
           aria-describedby="maxWeightHelp" placeholder="Enter the max. weight of the coffee without the pot" required/>
    <small id="maxWeightHelp" class="form-text text-muted">
      You can use any positive number. The data are in grams.
    </small>
  </div>

  <div class="form-group">
    <label for="potWeight">Pot Weight</label>
    <input id="potWeight" class="form-control" type="number" step="any"
           [(ngModel)]="config.potWeight" name="potWeight"
           aria-describedby="potWeightHelp" placeholder="Enter the weight of the coffee pot" required/>
    <small id="potWeightHelp" class="form-text text-muted">
      You can use any positive number. The data are in grams.
    </small>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
</form>

<p>&nbsp;</p>

<div id="alertSuccess" class="alert alert-success fade show" role="alert" *ngIf="showSuccess">
  <i class="fas fa-check"></i> &nbsp; Saving successful - all values updated.
</div>

<div id="alertError" class="alert alert-danger fade show " role="alert" *ngIf="showError">
  <i class="fas fa-times"></i> &nbsp; Error during saving - please contact the administrator.
</div>
